version: '3.8'

services:
  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]

  db:
    image: mysql:8.0
    command: --plugin-load=group_replication.so --plugin-load=group_replication_communication.so --plugin-load=group_replication_sequential.so --plugin-load=rpl_semi_sync_master.so --plugin-load=rpl_semi_sync_slave.so --plugin-load=rpl_semi_sync_master_timeout.so --plugin-load=rpl_semi_sync_master_status.so --plugin-load=rpl_semi_sync_slave_status.so --plugin-load=gis.so
    environment:
      MYSQL_DATABASE: dsr_wowdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    restart: always
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysql", "-h", "localhost", "-u", "root", "-p", "password", "-e", "SELECT 1"]
      timeout: 20s
      retries: 10

  web:
    build: .
    command: tail -F anything
    # command: ["python", "manage.py", "runserver", "0:8000"]
    restart: always
    volumes:
      - ./:/code/
      - web-server-site-packages:/usr/local/lib/python3.8/site-packages
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    links:
      - db
      - redis
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8000/healthcheck/"]
      interval: 60s
      timeout: 10s
      retries: 5

volumes:
  db-data:
  web-server-site-packages:
  redis-data:
